fastapi
uvicorn[standard]
python-dotenv
langchain
langgraph
langchain-google-genai
langchain-community
langchain-text-splitters
pypdf
faiss-cpu
python-docx
unstructured[all-docs]
langchain-tavily
pytesseract
faster-whisper
torch
torchaudio